.need-word-counter {
    border-radius: 0 0 0.375rem 0.375rem !important;
}

.bo-image-preview {
    max-height: 60px;
}

.text-ellipsis {
    overflow: hidden;
    width: 20rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Print fiche commerciale
@media print {
    #print-id-product {
        display: block;
    }
}
