.text-box {
    display: flex;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-width: 2px;
    border-color: #000;
    background-color: #2d2d2d;
    border-radius: 5px;
    color: #faebd7;
    outline: none;
}

.text-box:focus {
    background-color: #1d1d1d;
    outline: none;
}

.text-box:not(:disabled) {
    cursor: text;
}

.text-box:disabled {
    cursor: not-allowed;
}

.anim-text-box:not(:disabled) {
    transition: linear 50ms;
}

.light-text-box {
    background-color: #faebd7;
    color: #000;
}

.light-text-box:focus {
    background-color: #fff;
}

.validation-style:valid {
    border-color: #005f07;
}

.validation-style:invalid {
    border-color: #6c0705;
}

.validation-style.light-text-box:valid {
    border-color: #0db919;
}

.validation-style.light-text-box:invalid {
    border-color: #cc110e;
}

.primary.confirmation {
    background-color: #009d0a;
    color: #faebd7;
}

.primary.confirmation:focus {
    background-color: #007f09;
}

.primary.error {
    background-color: #91100e;
    color: #faebd7;
}

.primary.error:focus {
    background-color: #7d0b09;
}
