.my-control-exemple-component {
    display: flex;
    flex-direction: row;
}

.left-panel {
    width: 30%;
}

.control-display-list {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid rgb(0 0 0 / 51%);
    background-color: rgb(250 235 215 / 2%);
}

.main > div {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(3, auto);
    row-gap: 5px;
}
